<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="example-card" fxLayout="column">
      <img mat-card-image src={{producto.img}} alt={{producto.img}}>
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>#{{ producto.sku }}</mat-card-subtitle>

      <mat-card-content>
        <p>$ {{ producto.precio }}</p>
        <p>{{ producto.descripcion }}</p>
      </mat-card-content>

      <button mat-raised-button color="primary" routerLink="/">Regresar</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
